<div class="menu-container">
  <div class="spacer">
    <div class="quote-text">
    <span class="quote">“It's one of the greatest gifts you can give yourself, to forgive. Forgive everybody.”</span><br/> - Maya Angelou</div>
  </div>
  <div class="menu">
    <div class="menu-item" (click)="content = 'gems'">GEMS</div>
    <div class="menu-item" (click)="content = 'horizon'">SAFE HORIZON</div>
  </div>


  <div class="content" *ngIf="content ==='gems'">
    GEMS provides a spectrum of services to address the needs of sexually exploited girls and young women. Sexual exploitation is intrinsically linked to racism, poverty, gender-based violence, and the criminalization of youth. All these factors are an integral part of any discussion, advocacy work and direct service programming that involves sexual exploitation. All of GEMS programs are based on the philosophy that each girl and young woman is deserving, and needs support and services to treat the trauma and violence that she may have experienced. <br/><br/>
    To get in touch with GEMS, call (212) 926 8089 or visit their website at: <a href="http://www.gems-girls.org/" target="blank">http://www.gems-girls.org/</a>. To refer someone else, fill out this form: <a href="http://www.gems-girls.org/about/what-we-do/victim-referral-form" target="blank">http://www.gems-girls.org/about/what-we-do/victim-referral-form</a>
  </div>
  <div class="content" *ngIf="content ==='horizon'">
    Safe Horizon empowers victims of domestic violence, child abuse, sexual assault and human trafficking to move from crisis to confidence.
    They provide assistance, advocacy and support to victims who have experienced domestic violence, child abuse, sexual assault, stalking, human trafficking, youth homelessness and other crimes. They help survivors rebuild their lives through counseling, short term housing, legal and court help, safety planning, and more. <br/><br/>
    If you are, have been, or know someone that is a victim of sexual exploitation, call (718) 943-8631 (if you live in New York City). Survivors Outside of NYC should call the National Trafficking Hotline at (888) 373-7888. However, if you are in immediate danger you should call 911 right away.<br/><br/>
    Find a Safe Horizon location near you: <a href="https://www.safehorizon.org/find-us" target="blank">https://www.safehorizon.org/find-us/</a>
  </div>

  <div class="contentSpacer"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom disclaimer">
  <div class="disclaimer-content">The filmmakers and associated production companies behind Hold Me Down do not make any representations or warranties concerning the above-referenced organizations. For information pertaining to each organization’s business practices and/or any tax implications concerning donations, please refer to such individual organizations.
  </div>
</nav>
