<div class="menu-container">
  <div class="spacer">
    <div class="quote-text">
      <span class="quote">“Not everything that is faced can be changed, but nothing can be changed until it is faced.”</span>
      <div class="author"> - James Baldwin</div>
    </div>
  </div>
  <div class="menu">
    <h2 class="sub-title">I WANT TO HOST A SCREENING IN MY COMMUNITY</h2>
    Hold Me Down can be a great starting point in addressing the conditions facing many young women in the United States. If you want to host a screening of the film in your community, use our discussion guidelines, or invite members of the cast and crew to come speak at a local event, please contact us <a href="mailto:niclasgillis@gmail.com?Subject=Host%20a%20Screening" target="_top">here</a>.

  </div>
  <div class="contentSpacer"></div>
</div>
