<div class="contactImage"></div>
<div class="menu-container contact">
  <div class="spacer"></div>
  <div class="menu">
    <div class="center">
    This film was produced within the framework of Moving Sweden by Bob Film Sweden in association with More Media, the Collectif, and Sveriges Television with the support of the Swedish Film Institute and IFP.
    </div>
    <div class="center"> <span>For all inquiries: niclasgillis@gmail.com</span></div>
    <div class="center">&#169; Bob Film Sweden AB & Sveriges Television AB 2016 </div>
    <div class="center"> All rights reserved</div>
  </div>
  <div class="contentSpacer"></div>
</div>
