<img src="assets/contact_1.jpg" class="cover-image"/>
<div class="grid-container">
  <div class="words">
    HOLD ME DOWN was produced within the framework of Moving Sweden by Bob Film Sweden in association with More Media, the Collectif, and Sveriges Television with the support of the Swedish Film Institute and IFP.
  </div>
  <div class="words">    &#169; Bob Film Sweden AB & Sveriges Television AB 2016 All rights reserved</div>
  <div class="words">For all inquiries: <a href="mailto:niclasgillis@gmail.com" target="blank">niclasgillis@gmail.com</a></div>
</div>
