<!-- <ngb-carousel>
  <template ngbSlide>
    <img src="assets/issue_1.jpg" alt="Firstslide">
  </template>
  <template ngbSlide>
    <img src="assets/issue_2.jpg" alt="Second second slide">

  </template>
  <template ngbSlide>
    <img src="assets/issue_3.jpg" alt="Random third slide">
  </template>
  <template ngbSlide>
    <img src="assets/issue_4.jpg" alt="Random third slide">
  </template>
</ngb-carousel> -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="assets/issue_1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/issue_2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/issue_3.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/issue_4.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="grid-container">

  <div class="words">
  <h2 class="title">THE ISSUE</h2>
    Most women do not choose prostitution; for most, it is a last resort to survive, find shelter, and keep their children off the street. Most were coerced in their adolescence, and many struggle to break free from violent pimps. Many are held back by drug addiction, something they came to depend upon to cope with unfathomable hardship. Most have been penalized by the authorities and all struggle to overcome the societal obstacles that stand in their way of an endurable life. As such, prostitution should not be considered the ill itself, but an inevitable consequence of a broken system.
  </div>
  <div class="words">
    <span class='quote'>
      “No woman in America today is more likely to be murdered than a Black woman. No woman is more likely to be raped than a Black woman. And no woman is more likely to be beaten, either by a stranger or by someone she loves and trusts than a Black woman. Living life at the intersection of both racist and sexist cultural pathologies, seemingly places the lives of Black women in particular peril; a threat she faces early in life, and quite frankly, never outgrows.”
    </span>

    <br />

    <span>- <a href='http://www.washingtonpost.com/r/2010-2019/WashingtonPost/2014/03/27/National-Politics/Stories/2FinalBlackWomenintheUS2014.pdf' target='_blank'>National Coalition on Black Civic Participation</a></span>
  </div>
  <div class='words'>
    Until all children, regardless of their birth-given circumstances, gain access to a safe place to live, a quality education, a nutritious diet, adequate health care and adult guidance, we will never be able to prevent the most vulnerable girls and young women from being ensnared by sexual exploitation. Furthermore, it should be the aim of all communities to provide children and young adults with a visible path to financial security within the boundaries of law. These are not to be considered unattainable ideals, but the defining qualities of a developed nation.
  </div>
  <div class="words">In the <a href='http://www.ohchr.org/EN/UDHR/Documents/UDHR_Translations/eng.pdf' target='_blank'>U.N. Declaration of Human Rights</a>, article 25, it reads:</div>
  <div class="words">
    <span class="quote">“Everyone has the right to a standard of living adequate for the health and well-being of himself and of his family, including food, clothing, housing and medical care and necessary social services, and the right to security in the event of unemployment, sickness, disability, widowhood, old age or other lack of livelihood in circumstances beyond his control.”</span> Furthermore, <span class="quote">“all children, whether born in or out of wedlock, shall enjoy the same social protection.”</span></div>
  <div class="words">
    According to recent studies by the Organization for Economic Co-operation and Development, the U.S. currently has the second highest level of income inequality in the developed world, second only to Chile; and the second lowest level of social mobility, behind only the United Kingdom; which means that there is almost no other country in the developed world in which the disparity between rich and poor is greater than in the United States, and where it is harder for someone born into poverty to make it out of poverty by adulthood.
  </div>
  <div class="words">
    Still, Americans reportedly have more faith in their own social mobility than any other nationals in the developed world. With such a discrepancy between reality and people’s perception thereof, we feel that there is a real need to start a conversation. If you want to be part of the solution, please visit our <a href='/action'>Take Action page</a>.
  </div>
</div>
