<img src="assets/ISSUE.jpg" class="big-image"/>

<div class="menu-container">

  <div class="spacer"></div>

  <div class="menu">

    Most women do not choose a life of prostitution; for most, it is a last resort to survive, find shelter, and keep their children off the street. Most were coerced in their adolescence, and many struggle to break free from violent pimps. Many are held back by drug addiction, something they came to depend upon to cope with unfathomable hardship. Most have been penalized by the authorities and all struggle to overcome the societal obstacles that stand in their way of an endurable life. As such, prostitution should not be considered the ill itself, but an inevitable consequence of a broken system.
  </div>
  <div class="content">
    Until all children, regardless of their birth-given circumstances, gain access to a safe place to live, a quality education, health care, and a nutritious diet, we will never be able to prevent the most vulnerable girls and young women from turning to prostitution as a means to attain them, nor from escaping it once started. Furthermore, it should be the aim of all communities to provide their children with stable parental guidance and a visible path to financial security within the boundaries of law. These are not to be considered unobtainable ideals, but the defining qualities of a developed nation.
  </div>
  <div class="contentSpacer"></div>

</div>

<div class="menu-container">

  <div class="spacer"></div>

  <div>In the U.N. Declaration of Human Rights, article 25, it reads:</div>
  <div class="contentSpacer"></div>

</div>

<div class="menu-container">

  <div class="spacer"></div>

  <div class="menu">
    <div class="italics">“Everyone has the right to a standard of living adequate for the health and well-being of himself and of his family, including food, clothing, housing and medical care and necessary social services, and the right to security in the event of unemployment, sickness, disability, widowhood, old age or other lack of livelihood in circumstances beyond his control.” Furthermore, “all children, whether born in or out of wedlock, shall enjoy the same social protection.”</div>
  </div>
  <div class="content">
    Until all children, regardless of their birth-given circumstances, gain access to a safe place to live, a quality education, health care, and a nutritious diet, we will never be able to prevent the most vulnerable girls and young women from turning to prostitution as a means to attain them, nor from escaping it once started. Furthermore, it should be the aim of all communities to provide their children with stable parental guidance and a visible path to financial security within the boundaries of law. These are not to be considered unobtainable ideals, but the defining qualities of a developed nation.
  </div>
  <div class="contentSpacer"></div>

</div>

<div class="menu-container">

  <div class="spacer"></div>

  <div class="menu">
    Still, Americans reportedly have more faith in their own social mobility than any other national in the developed world. With such a discrepancy between the reality and people’s perception thereof, we feel that there is a real need to start a conversation. If you want to be part of the solution, please visit our Take Action page here.
  </div>
  <div class="content"></div>

  <div class="contentSpacer"></div>

</div>
