<!-- <h1>Angular Router</h1> -->
<!-- Image and text -->
<nav class="navbar title  navbar-fixed-top">
  <a href="#" class="holdMeDownTitle">HOLD ME DOWN</a>
  <a routerLink="/help" routerLinkActive="active" ><span class="getHelp">GET HELP</span></a>
  <a routerLink="/issue" routerLinkActive="active">THE ISSUE</a>
  <a routerLink="/action" routerLinkActive="active">TAKE ACTION</a>
  <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
  <a class="spacer-nav" href="#"></a>
</nav>



<router-outlet></router-outlet>
