<div class="menu-container">
  <div class="spacer">
    <div class="quote-text">
    <span class="quote">
      “It's one of the greatest gifts you can give yourself, to forgive. Forgive everybody.”</span>
      <div class="author">- Maya Angelou</div>
    </div>
  </div>
  <div class="menu">
    <h2 class="sub-title">I NEED HOUSING</h2>
    <div class="menu-item" (click)="content = 'lift'">LIFT</div>
    <div class="menu-item" (click)="content = 'pots'">PART OF THE SOLUTION (POTS)</div>
    <div class="menu-item" (click)="content = 'bronxworks'">BRONXWORKS</div>
    <div class="menu-item" (click)="content = 'habitat'">HABITAT FOR HUMANITY</div>
  </div>

  <div class="content" *ngIf="content==='lift'">
    LIFT Communities provide individuals with children under 8 assistance with searching for employment (resume/cover letter writing), housing, accessing public benefits, and childcare services. In addition, LIFT is a Single Stop provider offering access to SNAP applications and free legal, financial, and tax preparation services.<br/><br/>

    If you would like to schedule an appointment with LIFT, please call the Front Desk Associate in your state.

    <a href="http://www.liftcommunities.org/">http://www.liftcommunities.org/</a><br/><br/>

    New York<br/>
    349 East 149 St., Suite 500<br/>
    Bronx, NY 10451<br/>
    Phone: (347) 584-4010<br/><br/>

    Los Angeles<br/>
    1910 Magnolia Ave.<br/>
    Los Angeles, CA 90007<br/>
    Phone: (213) 744 – 9468<br/><br/>

    Chicago<br/>
    1420 South Michigan Ave.<br/>
    Chicago, IL 60605<br/>
    Phone: (312) 316 – 1899<br/><br/>

    Washington DC<br/>
    128 M St. NW, Suite 335<br/>
    Washington, DC 20001<br/>
    Phone: (202) 289-2525<br/><br/>
  </div>
  <div class="content" *ngIf="content ==='pots'">
    POTS is a “one-stop shop” assisting individuals living in poverty on their journeys from crisis to stability and ultimately, self-sufficiency. <br/><br/>
    POTS provides food, clothing, shower, hair cuts, and a safe mailing address in addition to many other vital services such as assistance with public benefits (SNAP and health insurance applications on-site), supportive housing, eviction prevention, and general advocacy. POTS also provides referrals to detox and outpatient treatment, shelters, employment, financial counseling, educational programs and more. <br/><br/>
    POTS Family Club provides intensive case management, education, social and nutrition support to a select group of families. In addition to weekly meetings with a case manager, families gather once a week in the Community Dining Room. During this time, tutors provide homework assistance to children while their caregivers receive a lesson in nutrition and work with a professional chef to prepare a healthful and novel meal. At the end of each class, the children, caregivers and tutors come back together to share the meal. Highly-engaged families may also be eligible for holiday and special distributions. If you are interested in participating or would like more information, please email the Family Club Coordinator at  <a href="mailto:familyclub@potsbronx.org" target="_blank"> familyclub@potsbronx.org.</a> <br/><br/>
    New clients are encouraged to visit POTS Single Stop Intake Coordinator to learn more about and enroll in POTS services. The meeting will include a benefits screening. You can meet with the Single Stop Intake Coordinator Monday through Friday 9:00-11:55 am for the Food Pantry or 1:00-4:00 pm for Case Management and Legal Clinic.<br/><br/>
    2759 Webster Ave, Bronx, NY 10458<br/>
    (718) 220-4892<br/>
    <a href="http://www.potsbronx.org/" target="blank">http://www.potsbronx.org/</a>

  </div>
  <div class="content" *ngIf="content ==='bronxworks'">
    BronxWorks helps individuals and families improve their economic and social well-being. From toddlers to seniors, they feed, shelter, teach, and support Bronx locals to build a stronger community.<br/><br/>
    BronxWorks efforts include Food Stamp outreach, homelessness prevention, job skills training, budgeting and financial literacy counseling, benefits assistance, health insurance assistance, Early Childhood Learning Centers for preschoolers, a high school for students who have fallen behind academically, out-of-school youth programs, foster care prevention, and supportive housing among many other vital services.<br/><br/>

    If you need help, please call the Single Stop hotline at (718) 731-3114 or visit any of the walk-in offices below. <a href="http://www.bronxworks.org/" target="blank">http://www.bronxworks.org/</a><br/><br/>
  </div>
  <div class="content" *ngIf="content ==='habitat'">
    Habitat For Humanity believes that everyone should have a safe, affordable place to call home. For that purpose, Habitat partners with individuals and families from application through construction to when the keys are handed over. By working together with the future home owner from beginning to end, they help prospective individuals prepare for the various responsibilities of homeownership, including learning about personal finances, mortgages, maintenance and upkeep of homes, and much more.<br/><br/>
  Habitat’s path to homeownership is an important and in-depth process, requiring hard work, time and dedication. But this helps to ensure the long-term success of Habitat homeowners.<br/><br/>

    Prospective Habitat homeowners must demonstrate a need for safe, affordable housing. Once selected, homeowners must partner with Habitat throughout the process. This partnership includes performing “sweat equity,” or helping to build their own home or the homes of others in the homeownership program. Sweat equity can also include taking homeownership classes or performing volunteer work in a Habitat ReStore.<br/><br/>

    Homeowners must also be able and willing to pay an affordable mortgage. Mortgage payments are cycled back into the community to help build additional Habitat houses.<br/><br/>

    For more information and to learn how you can participate or apply, call 800-422-4828. <a href="http://www.habitat.org/housing-help/apply" target="blank">http://www.habitat.org/housing-help/apply</a><br/><br/>

  </div>


  <div class="contentSpacer"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom disclaimer">
  <div class="disclaimer-content">The filmmakers and associated production companies behind Hold Me Down do not make any representations or warranties concerning the above-referenced organizations. For information pertaining to each organization’s business practices and/or any tax implications concerning donations, please refer to such individual organizations.
  </div>
</nav>
