<div class="menu-container">
  <div class="spacer"></div>
  <div class="menu">
    <div class="menu-item" (click)="content = 'supportiveHousing'">SUPPORTIVE HOUSING</div>
    <div class="menu-item">PUBLIC HOUSING / SECTION 8</div>
    <div class="menu-item">CITYFEPS</div>
    <div class="menu-item">FAMILY EVICTION PREVENTION SUPPLEMENT (FEPS)</div>
    <div class="menu-item">LIVING IN COMMUNITIES PROGRAMS (LINC)</div>
    <div class="menu-item">SPECIAL EXIT AND PREVENTION SUPPLEMENT (SEPS)</div>
    <div class="menu-item">HOME TBRA</div>
    <div class="menu-item">HOUSING LOTTERIES</div>
    <div class="menu-item">HABITAT FOR HUMANITY</div>
    <div class="menu-item">LIFT COMMUNITIES</div>
  </div>

  <div class="content" *ngIf="content==='supportiveHousing'">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  </div>
  
  <div class="contentSpacer"></div>
</div>
