<div class="menu-container">
  <div class="spacer">
    <div class="quote-text">
    <span class="quote">“Not everything that is faced can be changed, but nothing can be changed until it is faced.”</span><br/> - James Baldwin</div>
  </div>
  <div class="menu">
    <div class="menu-item" (click)="content= 'horizon'" >SAFE HORIZON</div>
    <div class="menu-item" (click)="content='gems'">GEMS</div>
    <div class="menu-item" (click)="content ='awid'">AWID</div>
    <div class="menu-item" (click)="content ='bronx'">BRONXWORKS</div>
    <div class="menu-item" (click)="content ='habitat'">HABITAT FOR HUMANITY</div>
    <div class="menu-item" (click)="content ='lift'">LIFT</div>
    <div class="menu-item" (click)="content ='parenthood'">PLANNED PARENTHOOD</div>

  </div>
  <div class="content" *ngIf="content==='horizon'">
    Safe Horizon is the nation’s leading victim assistance organization. Their mission is to prevent violence and promote justice for all by providing assistance, advocacy and support to victims who have experienced domestic violence, child abuse, sexual assault, stalking, human trafficking, youth homelessness and other crimes.<br/><br/>
    Visit https://www.safehorizon.org/ to make an online donation today or simply to learn more about Safe Horizon.

  </div>

  <div class="content" *ngIf="content==='gems'">
    Girls Educational and Mentoring Services’ (GEMS) mission is to empower girls and young women, ages 12–24, who have experienced commercial sexual exploitation to exit the commercial sex industry and develop to their full potential. GEMS is committed to changing individual lives, transforming public perception, and revolutionizing the systems and policies that impact sexually exploited youth.<br/><br/>
    Commercial sexual exploitation is often linked to racism, poverty, gender-based violence, and the criminalization of youth. All of these factors are an integral part of any discussion, advocacy work or direct service programming that involves sexual exploitation. GEMS programs are based on the philosophy that each young woman deserves support and services to treat the trauma that she has experienced. <br/><br/>
  Visit http://www.gems-girls.org/ to make an online donation today or simply to learn more about GEMS.
  </div>

  <div class="content" *ngIf="content==='awid'">
    The Association for Women's Rights in Development (AWID) is an international, feminist, membership organisation committed to achieving gender equality, sustainable development, and women’s human rights.<br/><br/>
    By supporting AWID, you can contribute to strengthening women’s rights movements and help drive transformative change for human rights, gender justice, and environmental sustainability worldwide.<br/><br/>Visit https://www.awid.org/  to make an online donation today or simply to learn more about AWID.

  </div>
  <div class="content" *ngIf="content==='bronx'">
    BronxWorks helps individuals and families improve their economic and social well-being. From toddlers to seniors, they feed, shelter, teach, and support Bronx locals to build a stronger community.<br/><br/>
    BronxWorks efforts include Food Stamp outreach, homelessness prevention, job skills training, budgeting and financial literacy counseling, benefits assistance, health insurance assistance, Early Childhood Learning Centers for preschoolers, a high school for students who have fallen behind academically, out-of-school youth programs, foster care prevention, and supportive housing among many other vital services.<br/><br/>
    Visit http://www.bronxworks.org/ to make an online donation today or simply to learn more about BronxWorks. You can also make a donation by phone at (646) 393-4002; or by mail at  BronxWorks, Development Office, 60 E. Tremont Ave., Bronx, NY 10453.
  </div>

  <div class="content" *ngIf="content==='habitat'">
    With your financial support, families can build strength, stability, and independence with Habitat for Humanity by building a safe and secure place to call home.<br/><br/>
    Families who partner with Habitat build their own homes alongside volunteers, pay an affordable mortgage and are grateful for your help. <br/><br/>
    Visit http://www.habitat.org/ to make an online donation today or simply to learn more about Habitat For Humanity. You can also make a donation by phone at 1-800-422-4828; or by mail at Habitat for Humanity International, 121 Habitat Street, Americus, GA 31709-3498.
  </div>

  <div class="content" *ngIf="content==='lift'">
    Through generous donations such as yours, LIFT has helped nearly 100,000 community members and their families achieve their goals and get back onto solid ground.<br/><br/>
    LIFT provides community members with children under 8 years old assistance with searching for employment and housing, as well as accessing public benefits and childcare services. In addition, LIFT is a Single Stop provider offering access to SNAP applications and free legal, financial, and tax preparation services.   <br/><br/>
    Visit http://www.liftcommunities.org/ to make an online donation today or simply to learn more about LIFT. If you have questions about donating, please contact Sang Hoon Lee, Chief Development Officer, at 267-253-0935 or by email at slee@liftcommunities.org.
  </div>

  <div class="content" *ngIf="content==='parenthood'">
    For the past century, Planned Parenthood has transformed women's health and empowered millions of people worldwide to make informed health decisions, forever changing the way they live, love, learn and work.<br/><br/>
  Planned Parenthood is a trusted health care provider, an informed educator, a passionate advocate, and a global partner helping similar organizations around the world. Planned Parenthood delivers vital reproductive health care, sex education, and information to millions of women, men, and young people worldwide.    <br/><br/>
Visit https://www.plannedparenthood.org to make an online donation today or simply to learn more about Planned Parenthood. If you have questions about donating to LIFT, please call 1-800-798-7092.
  </div>



  <div class="contentSpacer"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom disclaimer">
  <div class="disclaimer-content">The filmmakers and associated production companies behind Hold Me Down do not make any representations or warranties concerning the above-referenced organizations. For information pertaining to each organization’s business practices and/or any tax implications concerning donations, please refer to such individual organizations.
  </div>
</nav>
