/* You can add global styles to this file, and also import other style files */


body{
  font-family: "Roboto" !important;
}

.navbar{
  display:flex;
  background-color: black;
  flex-flow:space-between;
  a{ flex:1 1 auto; font-size:12px; margin:auto; font-weight:bold; color:white;
    &:hover{color:white;}
    &:active{color:white;}
    &:focus{color:white;}
  }
  a.spacer-nav{width: 80px; border:2px solid blue;
  flex:none;}
  .getHelp{
    border: 2px solid #fff;
    padding: 8px;
    letter-spacing: 0.05rem;
  }
  .holdMeDownTitle{
    font-size: 24px;
    letter-spacing: 0.30rem;
    flex:none;
    padding-left:22px;
    width:360px;

  }
}
.content-spacer{flex: 1 1 106px; border:1px solid pink;}
.menu-container{
  display:flex;
  margin-top:150px;
  font-size:12px;

  .spacer{
    width:372px;
    flex:none;
    // flex:1;
    // padding-left:12px;
  }
  // .menu, .content{
  //   flex: 1;
  // }
  .menu{
    flex: 1 1 300px;
  }
  .content{
    flex: 1 1 450px;
    margin-right: 32px;
  }
  .menu-item{margin-top: 16px; margin-bottom:16px; font-weight:900;}
  .content{padding-left:32px;}
}
.contentSpacer{flex: 1 1 106px;}
.HMD{
  background-image:url("/assets/images/HMD_HOME.jpg");
}
