/* You can add global styles to this file, and also import other style files */


body{
  font-family: "Montserrat" !important;
  padding-top:50px;
}
@media screen and (min-width: 576px){
  .navbar{
    border-radius: 0px;
  }
}
.navbar{
  border-radius:0px;
  display: flex;
  background-color: black;
  flex-flow:space-between;
  a{ flex:1 1 auto; font-size:12px; margin:auto; font-weight:bold; color:white;
    &:hover{color:white;}
    &:active{color:white;}
    &:focus{color:white;}
  }
  &.title{border-radius:0px;}
  a.spacer-nav{width: 80px;
  flex:none;}
  .getHelp{
    border: 2px solid #fff;
    padding: 8px;
    letter-spacing: 0.05rem;
  }
  .holdMeDownTitle{
    font-size: 24px;
    letter-spacing: 0.30rem;
    flex:none;
    padding-left:22px;
    width:360px;
  }
}
.content-spacer{flex: 1 1 106px; border:1px solid pink;}
.menu-container{
  display:flex;
  margin-top:150px;
  font-size:12px;
  &.videos{flex-direction:column;}
  &.contact{
    margin-top: 76px;
  }
  .spacer{
    width:372px;
    flex:none;
  }
  .menu{
    flex: 1 1 300px;
  }
  .content{
    flex: 1 1 450px;
    margin-right: 32px;
  }
  .menu-item{margin-top: 16px;
    margin-bottom:16px;

    font-weight:bold;
    &:hover{text-decoration:underline; cursor:pointer;}}
  .content{padding-left:32px;}
}
.HMD{
  background-image:url("assets/HMD_HOME.jpg");
  min-height: 650px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.contentSpacer{
  flex: 1 1 106px;
}
.TianeClose{
  background-image:url("assets/TianaCloseUp.jpg");
  height: 400px;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.contactImage{
  background-image:url("assets/CONTACT.jpg");
  height: 400px;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.center{
  display:flex;
  justify-content: center;
  margin: 32px;
  text-align:center;
  span{font-style: italic;}
}
.navbar.disclaimer{
  background-color:white;
}
.disclaimer-content{
  font-size:8px;
  text-align: center;
}

.issueImg1{
  background-image:url("assets/ISSUE.jpg");
  height: 400px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.take-action{
  &.hi{
    padding-top: 150px;
  }
}
.big-image{
  width:100%;
  height:auto;
}
