<img src="assets/HMD_HOME.jpg" class="big-image"/>
<div class="menu-container">
  <div class="spacer"></div>
  <div>
    Based on true events, HOLD ME DOWN depicts a day in the life of a 19-year-old single mother who works as a stripper at an illegal nightclub to support her child in the South Bronx.
  </div>
  <div class="contentSpacer"></div>
</div>


<div class="menu-container">

  <div class="spacer"></div>

  <div class="menu">

    <div>
    The film is inspired by Unique Adams, a young single mother whose experience of lifelong poverty and abuse pushed her into prostitution in early adulthood. Since meeting writer-director Niclas Gillis in the spring of 2014, the two set out to tell a story that would shed light on a life lead by millions of women in the shadows of mainstream America. With a cast consisting entirely of people who in reality live the life that they portray on screen, the film has been noted for its authoritative realism and emotional poignancy. “We wanted the women who really live this life to have the opportunity to tell their own story, to raise awareness of the conditions that they face, and to show all those who suffer life in silence that they’re not alone and that their story matters”, Gillis says.
    </div>


  </div>
  <div class="content">
    Despite a running time of less than 28 minutes, Hold Me Down would take nearly three years to complete due to the complex nature of the production. Filmed on location in the South Bronx, the narrative spans from the Mott Haven Projects to the underground locales where the events depicted actually occur. In the words of Carole Dean: (President of the Roy W. Dean Film Grants) “There has never been a film like this before; It is really in a category of its own.”
  </div>


  <!-- FIgure out why this is failing -->

</div>

<div class="menu-container">
  <div class="spacer"></div>
  <div class="menu">
    <iframe src="https://player.vimeo.com/video/197596785" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
  <div class="contentSpacer"></div>
</div>

<div class="menu-container">
  <div class="spacer"></div>
  <div class="menu">

  Swedish writer-director Niclas Gillis first became aware of the harsh conditions faced by young women in the inner cities of America when a classmate at SUNY College at Old Westbury invited him to what he thought would to be a regular house party in Harlem, but that turned out to be an illicit event similar to the one depicted in the film. He was nineteen years old, had only been in America for less than three months, and what he witnessed shocked him to the extent that he would spend the next five years researching the issue, and the subsequent three making a film addressing it.

  </div>
  <div class="content">
    “I cannot adequately express what this film has meant to me; to Unique, whose life the film is based on; and to the women who have given their souls in the performances that you see on screen. Our goal was to depict a life that hadn't been depicted before, to do so with dignity, and to raise awareness of issues that have long been swept under the carpet. Today it is a state of the union. In the future it will be a document of a time past. Now we just have to get the message out.”
  </div>
  <div class="contentSpacer"></div>
</div>
<!-- <div class="TianeClose"></div> -->
<img src="assets/TianaCloseUp.jpg" class="big-image"/>
<div class="menu-container">
  <div class="spacer"></div>
  <div class="menu">
    <p>VIDEO PORTRAITS</p>

    In the video portraits below, the cast talk about their lives, the meaning of the title, and what they hope that the film will communicate.
  </div>
  <div class="contentSpacer"></div>
</div>

<div class="menu-container">
  <div class="spacer"></div>
  <div class="videos">
    <div>Tanisha Lambright</div>
    <div>
      <iframe src="https://player.vimeo.com/video/115526407?color=ababab&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="contentSpacer"></div>
</div>

<div class="menu-container">
  <div class="spacer"></div>
  <div class="videos">
    <div>Tianna Allen</div>
    <div>
    <iframe src="https://player.vimeo.com/video/115526408?color=ababab&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="contentSpacer"></div>
</div>
